
<div class="field">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date of last paycheck" disabled [(ngModel)]="model.lastPayDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
</div>

<div class="field">
  <mat-radio-group [(ngModel)]="model.biWeekly">
    <p>How often are you paid?</p>
    <mat-radio-button value="1" [value]="false" checked>Weekly</mat-radio-button> &nbsp; &nbsp;
    <mat-radio-button value="2" [value]="true">Biweekly</mat-radio-button>
  </mat-radio-group>
</div>

<div class="field">
  <mat-form-field>
    <input matInput placeholder="Gross income per check" type="number" [(ngModel)]="model.grossPayPerCheck">
  </mat-form-field>
</div>
