
<div class="setup-form" *ngIf="model != null">
  <h3>Basic Info</h3>
  <div class="field">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date of last paycheck" disabled [(ngModel)]="model.lastPayDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <div class="err" *ngIf="dateError">Date must be valid</div>
  </div>

  <div class="field">
    <mat-select placeholder="How often are you paid?" [(ngModel)]="model.frequency" *ngIf="model && model.frequencies">
      <mat-option *ngFor="let frequency of model.frequencies" [value]="frequency.value">
        {{ frequency.title }}
      </mat-option>
    </mat-select>
    <div class="err select-error" *ngIf="freqError">A pay frequency must be selected</div>
  </div>

  <div class="field">
    <mat-form-field>
      <input matInput placeholder="Net income per check" type="number" [(ngModel)]="model.grossPayPerCheck">
    </mat-form-field>
    <div class="err" *ngIf="payError">Income must be a number</div>
  </div>

  <div class="actions">
    <button mat-raised-button color="accent" (click)="submitForm()">Submit</button>
  </div>
</div>
