<div class="pay-period" *ngIf="props != null">
    <h5>{{ props.date | date }}</h5>

    <table *ngIf="props.bills && props.bills.length">
      <thead>
        <tr>
          <th>Bill name</th>
          <th>Cost</th>
          <th>Occurs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bill of props.bills">
          <td>{{ bill.name }}</td>
          <td><sup>$</sup>{{ bill.cost }}</td>
          <td>{{ dateMonth(props.date) }}/{{ dateDay(bill.due) }}</td>
        </tr>
      </tbody>
    </table>

    <p class="no-bills" *ngIf="!props.bills || !props.bills.length">
      No bills during this pay period
    </p>
</div>