
<section class="paychecks-chart" *ngIf="props != null">
  <div class="inner">

    <div class="month" *ngFor="let month of props">
      <div class="month-name">
        {{ month.month | month }}
      </div>
      <div class="check" *ngFor="let check of month.payDates">
        <div class="bar-box">
          <div class="pay-bar" 
          [style.border-bottom]="'1px solid ' + barColor(check.bills, checkAmount(month.grossPay, month.checkQuantity))">
            <span><sup>$</sup>{{ checkAmount(month.grossPay, month.checkQuantity) }}</span>
          </div>
          <div class="bills-box">
            <div class="bill" *ngFor="let bill of check.bills" 
              [style.height]="checkHeight(bill.cost, checkAmount(month.grossPay, month.checkQuantity)) + '%'">
              <span class="bill-content" *ngIf="shouldShowLabel(bill, month)">
                  {{ bill.name }}
                  <span>${{ bill.cost }}</span>
              </span>
            </div>

            <div class="no-bills" *ngIf="!check.bills || !check.bills.length">
              No bills this pay period
            </div>
          </div>
        </div>
        <span>{{ check.date | date }}</span>
      </div>
    </div>

  </div>
</section>
